body {
  margin: 0px;

  padding-top: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --link-color: #6d6c6c;
  --font-color: #757575;
  --main-color: #1d1d1f;
}
.dark-color {
  color: var(--main-color);
}
.description-paragraph-style {
  font-weight: 500;
}
.reason3-section,
.reason4-section,
.reason2-section {
  margin: 20px;
}
p {
  font-size: 21px;
  color: var(--font-color);
  font-weight: 600;
  letter-spacing: 0.011em;
  position: relative;
  z-index: 2;
}
.hero {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/128/736/original/airpodmax_white.png?1718220153");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat;
}

.hero h1 {
  padding-top: 200px;
  margin: auto;
  font-size: 150px;
  text-align: center;
}

.hero h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
}
.hero .links {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 20%;
}
a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: black;
  text-shadow: 2px 2px 4px rgba(169, 169, 169, 0.5);
}

ul {
  list-style: none;
}
li {
  padding: 3px;
}

/* reason 1's css*/
h4 {
  padding-top: 30px;
}

h2 {
  font-size: 90px;
  font-weight: 600;
  letter-spacing: -0.015em;
  line-height: 1.05em;
}
.design-section {
  padding: 30px;
}
.design-section h2 {
  max-width: 75%;
  color: var(--main-color);
  margin-bottom: 0px;
}
.reason-grid p {
  color: var(--main-color);
  margin-top: 0;
  padding: 50px 80px 0px 0px;
  font-weight: 500;
}
.design-section .reason-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.paragraph-style {
  font-weight: 400;
}

.side-headphone-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.side-headphone-container {
  position: relative; /* positions it as ancestor position*/
}
.design-explanation {
  position: relative;
  z-index: 2;
  width: 275px;
}
.design-explanation p {
  font-size: 16px;
}
.design-explanation.first {
  position: absolute;
  top: 10%;
  left: 12%;
}
.design-explanation.second {
  position: absolute;
  top: 30%;
  left: 12%;
}

.design-explanation.third {
  position: absolute;
  top: 40%;
  right: 12%;
}

.design-explanation.fourth {
  position: absolute;
  bottom: 0%;
  right: 40%;
}
/** reason 2 section**/
.reason2-section h2 {
  margin-bottom: 20px;
}
.reason2-section .reason {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 40px;
  font-size: smaller;
  color: var(--font-color);
}
.circle-colours-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 40px 20px 0px;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
  border-style: dotted;
  color: grey;
}
.black {
  background-color: #3c3d3a;
}

.white {
  background-color: #f5f4f1;
}
.blue {
  background-color: #2f506c;
}
.red {
  background-color: #e4554e;
}
.green {
  background-color: #e7ece3;
}

.grid-container-1row-2col {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.grid-item {
  display: flex;
  align-items: stretch; /* Ensures all items stretch to the same height */
  overflow: hidden;
}

.image-1 img {
  max-width: 100%;
}
.image-2 {
  overflow: hidden;
}
.image-2 img {
  width: 100%;
  object-fit: cover; /* Ensures the images cover their containers while maintaining aspect ratio */
}

/*reason 3 noise cancelling feature section*/
.reason3-section {
  margin: 15px;
}
.reason3-section .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-start: 1;
  gap: 10px;
}
.grid-item-1 {
  grid-row: span 2;
}
.grid-item-1 img {
  max-width: 100%;

  grid-row-start: 1;
}
.grid-item-2 img {
  grid-column: 2; /* Places in the second column */
  grid-row: 1; /* Places in the first row */
  max-width: 100%;
}
.grid-item-3 {
  grid-column: 2; /* Places in the second column */
  grid-row: 2; /* Places in the second row */
}
.grid-item-1 img,
.grid-item-2 img {
  width: 100%; /* Ensure images fill their containers */
  height: auto;
}

/* section reason 4*/
.grid-container-reason4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.item-2 {
  padding: 50px;
  margin-top: 30px;
}

.item-1 img {
  max-width: 100%;
  height: fit-content;
}

/**ANIMATIONNN w**/
h2,
p,
h4,
.side-headphone-img {
  animation: CSSScrollReveal-Y 1200ms ease-in-out both;
}

.design-explanation p {
  animation: CSSScrollReveal-X 1200ms ease-in-out both;
  animation-timeline: view();
}

h1,
.hero h4 {
  animation: fade-in-out 2s ease-in-out both;
  animation-timeline: view();
}

@keyframes CSSScrollReveal-Y {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes CSSScrollReveal-X {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**footer css**/

footer {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin: auto;
  width: 90%;
}
footer a {
  text-decoration: underline;
}

/***MEDIA FOR RESPONSIVENESSSS ON SMALL MOBILE***/
@media (max-width: 800px) {
  .hero {
    margin: 0px;
    padding: 0px;
  }
  .hero h1 {
    font-size: 80px;
    margin: auto;
  }
  .hero .links {
    position: absolute;
    top: 5%;
  }
  /*section 2*/
  h2 {
    font-size: 60px;
  }
  p {
    font-size: 20px;
  }
  .design-section .reason-grid {
    grid-template-columns: 1fr;
  }

  .design-explanation {
    z-index: initial;
    width: 100px;
  }
  .side-headphone-img {
    width: 100%; /* Set the desired width */
    transform: scale(2);
    position: relative; /* Ensure it's positioned relative to its container */
    top: 150px; /* Adjust the distance from the top as needed */
  }
  .design-explanation p {
    font-size: 12px;
  }

  .design-explanation.first {
    position: absolute;
    left: 5%;
  }
  .design-explanation.second {
    position: absolute;
    top: 57%;
    left: 5%;
  }

  .design-explanation.third {
    position: absolute;
    top: 60%;
    right: 5%;
  }

  .design-explanation.fourth {
    position: absolute;
    bottom: 0%;
    top: 100%;
  }
  .design-explanation.fourth p {
    color: rgb(80, 79, 79);
  }

  /**section for reason 3*/
  .reason2-section {
    margin-top: 300px;
  }
  .reason3-section .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .grid-item-1 {
    grid-row: span 2; /* Ensure grid-item-1 spans two rows */
    max-width: 100%;
    grid-column: 2; /* Ensure item is in the second (and only) column */
    grid-row: 1;
  }

  .grid-item-2 {
    grid-column: 2;
    display: block;
    margin: auto;
    max-width: 100%;
  }
  .grid-item-3 {
    grid-row: 2;
  }

  /* section reason 4*/
  .grid-container-reason4 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .item-2 {
    margin-top: 0px;
    padding-top: 10px;
  }
}
